body {
  background-color: $white;
  font-family: $font;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.heading-small {
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.link-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid currentColor;
  transform: scale(1.0000001);

  &__link {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: currentColor;
    font-family: $font-alt;
    text-transform: uppercase;
    

    &:hover {
      color: currentColor;
      text-decoration: none;
      

      .link-header__icon {
        color: $primary;
        transform: translate(.25rem, 1px);
      }
    }
  }

  &__icon {
    width: 21px;
    transform: translateY(1px);
    transition: .2s;
  }
}