.main-site-nav {
  &__list {
    list-style: none;
  }

  &__item {
    &:hover {
      .main-site-nav__link {
        background-color: rgba($white, .1);
        color: $white;
        text-decoration: none;

        &:after {
          transform: none;
        }
      }
    }

    &--with-dropdown {
      position: relative;

      &:hover {
        .main-site-nav__dropdown {
          display: flex;
          transform: scaleY(1.000000001);
          pointer-events: auto;
        }
      }
    }
  }

  &__link {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 2rem 1rem;
    color: $white;
    font-size: 1.4rem;
    font-family: $font-alt;
    text-transform: uppercase;
    transition: .2s;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 3px;
      background-color: $primary;
      transition: .2s;
      transform: translateY(100%);
    }

    
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    padding: .5rem 0;
    background-color: $primary;
    list-style: none;
    transition: .2s;
    transform-origin: top;
    transform: scaleY(0);
    pointer-events: none;

    &-link {
      display: block;
      width: max-content;
      max-width: 400px;
      min-width: 180px;
      padding: .5rem 1rem;
      color: $white;
      font-size: 1.2rem;
      font-family: $font-alt;
      text-transform: uppercase;
      transition: .2s;

      &:hover {
        color: $white;
        text-decoration: none;
        transform: translateX(.25rem);
      }
    }
  }
}