.bg-black {
  background-color: $black;
}

.font-alt {
  font-family: $font-alt;
}

.text-sm {
  font-size: .85rem;
}

.text-md {
  font-size: 1.25rem;
}

.text-black {
  color: #000 !important;
}

.text-primary {
  color: $primary !important;
}

.container--lg {
  max-width: 1720px;
}

.container--md {
  max-width: 1024px;
}