$primary: #F63321;

$battle-report: $primary;
$tactica-report: #41ADAD;
$narrative-report: #fdfe00;
$campaign-report: #975abf;
$vox-cast: #a7fbad;
$list-analysis: #ec4d5b;
$cast-of-players: #71dfee;
$data-slate: #46d65b;

$font: 'Barlow', sans-serif;
$font-alt: 'Barlow Condensed', sans-serif;